/target/
/.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.whl
*.zip
*.egg-info/
*.db
*.db-wal
*.db-shm
/.pytest_cache/
/.ruff_cache/
/.mypy_cache/
/.pyright/
/.tox/
/.nox/
/.coverage
/.coverage.*
/dist/
/build/
/.maturin/
/data/config/
/data/plugin_data/
/data/cmd_config.json
/crates/crates/
/FILE_MANIFEST.json
